<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./content/css/form.css" />
    <base href="/">
</head>

<body>
    <h2> Create Survey</h2>
    <div class="container">
        <form id="survey-form" method="post">
            <input type="hidden" name="id" value="<%= survey._id %>">
            <div class="form-control">
                <label for="topic">Topic</label>
                <input type="text" name="topic" value="<%= survey.topic %>" required>
            </div>
            <div class="form-control">
                <label for="question1">Question 1:</label>
                <input type="text" name="question1" value="<%= survey.question1 %>" required>
            </div>
            <div class="form-control">
                <label for="question2">Question 2:</label>
                <input type="text" name="question2" value="<%= survey.question2 %>" required>
            </div>
            <div class="form-control">
                <label for="question3">Question 3:</label>
                <input type="text" name="question3" value="<%= survey.question3 %>" required>
            </div>
            <div class="form-control">
                <label for="question4">Question 4:</label>
                <input type="text" name="question4" value="<%= survey.question4 %>" required>
            </div>

            <div class="form-control">
                <label for="question5">Question 5:</label>
                <input type="text" name="question5" value="<%= survey.question5 %>" required>
            </div>

            <div class="form-control">
                <label for="endsAt">Ends At:</label>
                <input type="datetime-local" id="endsAt" name="endsAt" required>

            </div>

            <button type="submit">Submit</button>
            <button type="button" onclick="location.href='/survey-list'">
                Cancel
            </button>
        </form>
    </div>
</body>

</html>