<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./content/style.css">
</head>

<body>
    <h2> Create Survey</h2>
    <form id="survey-form" method="post">
        <input type="hidden" name="id" value="<%= survey._id %>">
        <label for="topic">Topic</label>
        <input type="text" name="topic" value="<%= survey.topic %>" required><br>
        <hr>
        <label for="question1">Question 1:</label>
        <input type="text" name="question1" value="<%= survey.question1 %>" required><br>
        <label for="option1">Option 1:</label>
        <input type="text" name="option1" value="<%= survey.option1 %>" required><br>
        <label for="option2">Option 2:</label>
        <input type="text" name="option2" value="<%= survey.option2 %>" required><br>
        <label for="option3">Option 3:</label>
        <input type="text" name="option3" value="<%= survey.option3 %>" required><br>
        <hr>
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-edit"></i> Submit</button>

        <a href="/survey-list" class="btn btn-warning">
            <i class="fas fa-undo"></i>Cancel</a>
    </form>

</body>

</html>