<link rel="stylesheet" type="text/css" href="./content/style.css" />
<div class="container">
  <form id="survey-form" action="/survey" method="post">
    <% for(let count=0; count < survey.length; count++) { %>
    <h3><%= survey[count].topic %></h3>
    <label for="question1"><%= survey[count].question1 %></label>
    <input type="radio" name="answer1" value="<%=survey[count].option1 %>" /><%=survey[count].option1 %><br />
    <input type="radio" name="answer1" value="<%=survey[count].option2 %>" /><%=survey[count].option2 %><br />
    <input type="radio" name="answer1" value="<%=survey[count].option3 %>" /><%=survey[count].option3 %><br />
      <br /><br />
    <button type="submit">Submit</button>
    <button type="button" onclick="location.href='/results'">
      View results
    </button>
    <button type="reset">Reset</button>
    <button type="button" onclick="location.href='/'">Home Page</button>
    <% } %>
  </form>
</div>
