<link rel="stylesheet" type="text/css" href="./content/style.css" />
<div class="container">
  <form id="survey-form" method="post">
    <h3>
      <%= survey.topic %>
    </h3>
    <label for="name">Nickname</label><br>
    <input type="text" name="name" required><br>

    <input type="hidden" name="topic" value="<%= survey.topic%>">
    <label for="question1">
      <%= survey.question1 %>
    </label><br>
    <input type="hidden" name="question1" value="<%= survey.question1%>">
    <input type="text" name="answer1" /><br>

    <label for="question2">
      <%= survey.question2 %>
    </label><br>
    <input type="hidden" name="question2" value="<%= survey.question2 %>">
    <input type="text" name="answer2"><br>

    <label for="question3">
      <%= survey.question3 %>
    </label><br>
    <input type="hidden" name="question3" value="<%= survey.question3 %>">
    <input type="text" name="answer3"><br>

    <label for="question4">
      <%= survey.question4 %>
    </label><br>
    <input type="hidden" name="question4" value="<%= survey.question4 %>">
    <input type="text" name="answer4"><br>

    <label for="question5">
      <%= survey.question5 %>
    </label><br>
    <input type="hidden" name="question5" value="<%= survey.question5 %>">
    <input type="text" name="answer5"><br><br>

    <button type="submit">Submit</button>
    <button type="button" onclick="location.href='/results-list'">
      View results
    </button>
    <button type="reset">Reset</button>
    <button type="button" onclick="location.href='/'">Home Page</button>
  </form>
</div>